h6 {
    font-size: 14px;
    color: #363636;
}
.card {
    background-color: #f9f9f8;
}

.has-search .form-control {
    padding-left: 2.375rem;
    border: none;
    border-bottom: #8c8c8c 2px solid;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
}